<?xml version="1.0" encoding="UTF-8"?>

 <!-- <beans>요소 안에 bean 정의를 여러 개 한다 -->
<beans 
	xmlns = "http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.3.xsd">
		
	<context:component-scan base-package="di"/><!-- 컴포넌트를 스캔할 패키지를 지정한다. -->	
	
</beans>